.mainContainer{
    -fx-padding: 30px;
    -fx-background-color: #3B3B3B;

}

.mainContainer .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.mainTitle{

}

.vBoxAnalysis{
    -fx-fontsize: 18px;
    -fxfontweight: bold;
    -fx-text-fill: #202125;
}