.mainContainer{
    -fx-padding: 30px;
    -fx-background-color: #3B3B3B;

}

.mainContainer .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.mainTitle{

}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-bar:vertical, .scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.vBoxAnalysis{
    -fx-fontsize: 18px;
    -fxfontweight: bold;
}

.label.strengthsLabel{
    -fx-text-fill: #3fd121;
}

.label.issuesLabel{
    -fx-text-fill: #a12828;
}

.buttons{
    -fx-padding: 10px;
}


